.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timer {
  width: 100;
  align-items: center;
  justify-content: center;
}

.timer-text-box {
  display: flex;
  justify-content: center;
}

.timer-button-box {
  display: flex;
  justify-content: center;
  /* width: 100px; */
  margin-inline-start: 1vw;
  margin-inline-end: 1vw;
  margin-bottom: 2vh;
}

.timer-input {
  width: 20rem;
}

.timer-button,
.timer-input {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
}
